*{
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;

}
body{
  background-color: white;
  color: white;
}
.main{
  text-align:center;
 
}

.weatherSection{
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  background-color: hsla(0, 0%, 100%, 0.5);
  color: black;
}

.detailsSection{
  margin: 0px 10px 10px 10px;
  padding: 10px;
  border-radius: 10px;
  background-color: hsla(0, 0%, 100%, 0.5);
  justify-items: center;
}

.detailsSection .details{
  justify-content: space-evenly;
  text-align: center;
  width: 300px;
  height: 400px;
  color:black;
}

.details th, td{
  border-bottom: solid .5px white;
  
}

.details tr{
  border: solid black;
}

.temp{
  font-size: 100px;
  font-weight: 400;
  margin: 0px;
  letter-spacing: -1px;
}

.weatherIcon{
  width: 150px;
  margin-bottom: 50px;
  margin-top: 20px;
}

.description{
  padding: none;
  margin-top: 50px;
}

#bg-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
  pointer-events: none; /* allows clicks through video */
}